.nav {
    grid-area: n;                     
    padding: 10px;
  }

.item > a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 30px;
  width: 80px;
  height: 80px;
  transition: .4s;
}

.item > a:hover {
  background-color: rgb(165, 155, 155);
  border-radius: 50%;
}

img {
  width: 50px!important;
  height: 50px;
}

.item > a.activeLink {
  background-color: red;
  border-radius: 50%;
}